<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-heroes"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'DETAILS' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openLanguageSelector()">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="hero$ | async as hero">
    <ion-card-header>
      <ion-card-title>{{ hero.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="hero-container">
        <img
          [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
          alt="{{ hero.name }}"
        />
      </div>

      <p>
        <strong>{{ 'COMICS' | translate }}:</strong> {{ hero.comics.available }}
      </p>
      <p>
        <strong>{{ 'SERIES' | translate }}:</strong> {{ hero.series.available }}
      </p>
      <p>
        <strong>{{ 'STORIES' | translate }}:</strong> {{ hero.stories.available
        }}
      </p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading$ | async" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-card *ngIf="error$ | async as error">
    <ion-card-header>
      <ion-card-title>{{ 'ERROR' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ error }} </ion-card-content>
  </ion-card>

</ion-content>
